{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Default swagger.json",
    "description": "If you are seeing this then /opt/swagger/swagger.json was not overwritten. Please update this microservice with a swagger.json file to document its API. This is just an example. ",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "name": "The MSA"
    },
    "license": {
      "name": "MIT"
    }
  },
  "host": "microservices.agency",
  "basePath": "/api",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/files": {
      "get": {
        "description": "Returns all files from the system that the user has access to",
        "operationId": "findFiles",
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/html"
        ],
        "parameters": [
          {
            "name": "tags",
            "in": "query",
            "description": "tags to filter by",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum number of results to return",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "file response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/File"
              }
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      },
      "post": {
        "description": "Creates a new file in the store.  Duplicates are allowed",
        "operationId": "addFile",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "body",
            "description": "File to add to the store",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewFile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "file response",
            "schema": {
              "$ref": "#/definitions/File"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/files/{id}": {
      "get": {
        "description": "Returns a user based on a single ID, if the user does not have access to the file",
        "operationId": "findFileById",
        "produces": [
          "application/json",
          "application/xml",
          "text/xml",
          "text/html"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of file to fetch",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "file response",
            "schema": {
              "$ref": "#/definitions/File"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      },
      "delete": {
        "description": "deletes a single file based on the ID supplied",
        "operationId": "deleteFile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of file to delete",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "file deleted"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "File": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/NewFile"
        },
        {
          "required": [
            "id"
          ],
          "properties": {
            "id": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      ]
    },
    "NewFile": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "tag": {
          "type": "string"
        }
      }
    },
    "ErrorModel": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
